<style>
  .pokemons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .type{
    display: flex;
    border: outset 0.5px;
    border-radius: 10px;
    margin: auto;
  }
  .fire{
    background-color: orangered;
  }
  .grass{
    background-color: palegreen;
  }
  .water{
    background-color: dodgerblue;
  }
  .bug{
    background-color: goldenrod;
  }
  .flying{
    background-color: greenyellow;
  }
  .normal{
    background-color: gainsboro;
  }
</style>
<div class="pokemons">
{{#each pokemons}}
  <img src="{{small_image}}" alt="This is {{pokemon_name}}">
  <p>{{pokemon_name}}</p>
  <div class="type {{type}}">
    <p>{{type}}</p>
  </div>
{{/each}}
</div>
<div>
  <form action="/pokemonPage" method="POST">
    <fieldset>
      <legend>Choose your pokemon</legend>
      {{#each pokemons}}
      <label for="{{pokemon_name}}">
        {{pokemon_name}}
        <input type="radio" name="id" value="{{id}}" class="pokemon">
      </label>
      {{/each}}
      <br>
      <button type="submit">I choose you</button>
    </fieldset>
  </form>
</div>
